.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.button-link {
    color: #ffe5b4;
    text-decoration: none;
    cursor: pointer;
    font-family: '阿里黑';
}
