body {
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.countdown {
    position: absolute;
    font-size: 15em;
    font-weight: bold;
    color: yellow;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
    font-family: 阿里黑;
}

.celebration {
    position: absolute;
    font-size: 18em;
    color: yellow;
    display: none;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
    font-family: 阿里黑;
}
canvas {
  display: block;
  margin: auto;
  -webkit-user-select:none;
}

@font-face {
    font-family: "阿里黑";
  src: url("./fonts/AlimamaShuHeiTi-Bold.otf") format("opentype"),
  url("./fonts/AlimamaShuHeiTi-Bold.woff") format("woff"),
  url("./fonts/AlimamaShuHeiTi-Bold.woff2") format("woff2"),
  url("./fonts/AlimamaShuHeiTi-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

